:root {
    --noir: #202426;
    --lime: #adcd62;
    --vert: #4f593f;
    --beige: #b7aea7;
    --blanc: #e4e0df;
    --bleu: #3e3f57;
  }

  body {
      margin: 0;
      background-color: var(--beige);
  }

  li:hover {
      color:var(--lime);
  }

ul {
    display: flex;
    align-items: row;
    justify-content: space-around;
    align-items: center;
    background-color:#4f593f;
    margin: 0;
}

li {
    list-style: none;
    font-family: 'cinzel', 'serif';
    color:#e4e0df;
    font-size: 1.5rem;
}

hr {
    margin: 0;
    color: white;
    height: 1vh;
    background-color: white;
}

main {
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--beige);
    margin: 0;
   
}

article {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 5vh;
}

#h1History {
    font-family: 'cinzel', serif;
    color: var(--bleu);
    font-size: 3rem;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}