/*
1. RESET
2. Blocks
3. Inline
4. ID
5. Classes
*/

:root {
  --noir: #202426;
  --lime: #adcd62;
  --vert: #4f593f;
  --marron: #b7aea7;
  --beige: #e4e0df;
  --bleu: #3e3f57;
}

/* 1 RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 2 Block */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  z-index: 1;
}

article {
  width: 100%;
  height: auto;
}

article p {
  margin-top: 3vh;
}

body {
  font-family: "Bodoni Moda", serif;
}

img {
  max-width: 100%;
}

nav {
  height: 10vh;
  position: fixed;
  width: 100%;
  display: none;
  height: auto;
  margin-top: 11vh;
  background: rgba(80, 92, 63, 0.9);
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: auto;
}

nav ul li {
  border-top: solid 2px white;
}

nav ul li a {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
}

nav ul li,
nav ul li a {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  padding: 1vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 3 inline */

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  text-align: center;
  line-height: 150%;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  line-height: 150%;
  color: var(--lime);
}

p {
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: var(--bleu);
}

/* 4 ID */

#history {
  background-color: var(--marron);
}

#home {
  background-color: var(--beige);
  flex-direction: column-reverse;
  padding-top: 14vh;
}

#label {
  font-size: 3rem;
  color: white;
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#label i {
  font-size: 4rem;
  position: fixed;
  top: 5vh;
  margin-top: -2rem;
  left: 50vw;
  margin-left: -2rem;
  z-index: 10;
}

#ligne {
  height: 1vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 10vh;
  left: 0;
}

#ligne a {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: white;
}

#ligne progress {
  width: 100%;
  position: absolute;
  background-color: var(--lime);
  height: 100%;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: var(--lime);
}

#logo {
  display: none;
}

#menu {
  position: fixed;
  height: 11vh;
  background: rgba(80, 92, 63, 0.9);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

#package {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--noir);
  background-image: url("../images/package/package_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#package p {
  padding: 2vw;
}

#package h1 {
  color: var(--beige);
}

#reconstitution {
  background-color: var(--marron);
}

#shay {
  background-color: var(--noir);
}

#shay h1 {
  color: var(--beige);
}

#toggle {
  position: absolute;
  left: -100vw;
}

#toggle:checked ~ nav {
  display: flex;
  flex-direction: column;
}

#toTop {
  font-size: 5rem;
  height: 60px;
  width: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--bleu);
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  background-color: rgba(255, 255, 255, 0.3);
}

/* 5 Classes */

.active {
  background-color: var(--lime) !important;
}

.inner {
  display: flex;
}

.mobile {
  display: flex;
}

.not-mobile {
  display: none;
}

.slick-slider {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 0;
}

.slick-slider img {
  width: 80%;
}

.slick-slide {
  padding: 20px;
  width: 100%;
  background-color: var(--beige);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.intern {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-prev,
.slick-next {
  height: 5vh;
  border: none;
  background: none;
  font-size: 5rem;
  color: var(--beige);
  display: none !important;
}
